[Desktop Entry]
Categories=Qt;KDE;Development;
StartupNotify=true
Exec=/usr/bin/goat
Name=Goat
GenericName=Goat database management
Terminal=false
Type=Application
Icon=goat

